<header ng-switch on="$location.path().indexOf('/Pilots/new') > -1">
    <h3 ng-switch-when="true">Create a new Pilots</h3>
    <h3 ng-switch-when="false">View or edit Pilots</h3>
</header>
<form id="PilotsForm" name="PilotsForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': PilotsForm.idShop.$invalid}">
        <label for="idShop" class="col-sm-2 control-label">Id Shop</label>
        <div id="idShopControls" class="col-sm-10">
            <input id="idShop" name="idShop" type="number" required class="form-control" ng-model="pilots.idShop" placeholder="Enter the Pilots Id Shop"></input>
            <span class="help-block error" ng-show="PilotsForm.idShop.$error.required">required</span> 
            <span class="help-block error" ng-show="PilotsForm.idShop.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PilotsForm.nom.$invalid}">
        <label for="nom" class="col-sm-2 control-label">Nom</label>
        <div id="nomControls" class="col-sm-10">
            <input id="nom" name="nom" type="text" required class="form-control" ng-model="pilots.nom" placeholder="Enter the Pilots Nom"></input>
            <span class="help-block error" ng-show="PilotsForm.nom.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PilotsForm.prenom.$invalid}">
        <label for="prenom" class="col-sm-2 control-label">Prenom</label>
        <div id="prenomControls" class="col-sm-10">
            <input id="prenom" name="prenom" type="text" required class="form-control" ng-model="pilots.prenom" placeholder="Enter the Pilots Prenom"></input>
            <span class="help-block error" ng-show="PilotsForm.prenom.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PilotsForm.moto.$invalid}">
        <label for="moto" class="col-sm-2 control-label">Moto</label>
        <div id="motoControls" class="col-sm-10">
            <input id="moto" name="moto" type="text" required class="form-control" ng-model="pilots.moto" placeholder="Enter the Pilots Moto"></input>
            <span class="help-block error" ng-show="PilotsForm.moto.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PilotsForm.cylindree.$invalid}">
        <label for="cylindree" class="col-sm-2 control-label">Cylindree</label>
        <div id="cylindreeControls" class="col-sm-10">
            <input id="cylindree" name="cylindree" type="text" required class="form-control" ng-model="pilots.cylindree" placeholder="Enter the Pilots Cylindree"></input>
            <span class="help-block error" ng-show="PilotsForm.cylindree.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PilotsForm.groupe.$invalid}">
        <label for="groupe" class="col-sm-2 control-label">Groupe</label>
        <div id="groupeControls" class="col-sm-10">
            <input id="groupe" name="groupe" type="number" required class="form-control" ng-model="pilots.groupe" placeholder="Enter the Pilots Groupe"></input>
            <span class="help-block error" ng-show="PilotsForm.groupe.$error.required">required</span> 
            <span class="help-block error" ng-show="PilotsForm.groupe.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PilotsForm.beacon.$invalid}">
        <label for="beacon" class="col-sm-2 control-label">Beacon</label>
        <div id="beaconControls" class="col-sm-10">
            <input id="beacon" name="beacon" type="number" required class="form-control" ng-model="pilots.beacon" placeholder="Enter the Pilots Beacon"></input>
            <span class="help-block error" ng-show="PilotsForm.beacon.$error.required">required</span> 
            <span class="help-block error" ng-show="PilotsForm.beacon.$error.number">not a number</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePilots" name="savePilots" class="btn btn-primary" ng-disabled="isClean() || PilotsForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePilots" name="deletePilots" class="btn btn-danger" ng-show="pilots.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>