<header ng-switch on="$location.path().indexOf('/Events/new') > -1">
    <h3 ng-switch-when="true">Create a new Event</h3>
    <h3 ng-switch-when="false">View or edit Event</h3>
</header>
<form id="EventForm" name="EventForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': EventForm.start.$invalid}">
        <label for="start" class="col-sm-2 control-label">Start</label>
        <div id="startControls" class="col-sm-10">
            <input id="start" name="start" type="text" required class="form-control" ng-model="event.start" placeholder="Enter the Event Start"></input>
            <span class="help-block error" ng-show="EventForm.start.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EventForm.end.$invalid}">
        <label for="end" class="col-sm-2 control-label">End</label>
        <div id="endControls" class="col-sm-10">
            <input id="end" name="end" type="text" required class="form-control" ng-model="event.end" placeholder="Enter the Event End"></input>
            <span class="help-block error" ng-show="EventForm.end.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EventForm.chronometers.$invalid}">
        <label for="chronometers" class="col-sm-2 control-label">Chronometers</label>
        <div id="chronometersControls" class="col-sm-10">
            <select id="chronometers" name="chronometers" multiple class="form-control" ng-model="chronometersSelection" ng-options="c.text for c in chronometersSelectionList">
                <option value="">Choose a Chronometers</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EventForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" required class="form-control" ng-model="event.name" placeholder="Enter the Event Name"></input>
            <span class="help-block error" ng-show="EventForm.name.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': EventForm.loop.$invalid}">
        <label for="loop" class="col-sm-2 control-label">Loop</label>
        <div id="loopControls" class="col-sm-10">
            <input id="loop" name="loop" type="checkbox" class="checkbox" ng-model="event.loop" placeholder="Enter the Event Loop"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveEvent" name="saveEvent" class="btn btn-primary" ng-disabled="isClean() || EventForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteEvent" name="deleteEvent" class="btn btn-danger" ng-show="event.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>