[Unit]
Description=Teknichrono Client
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/pi/teknichrono/start.sh
Restart=always
 
[Install]
WantedBy=multi-user.target