<div class="form-horizontal">
    <h3>Create a new Lap</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Laps/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Laps</h3>
    <form id="LapSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="timelap" class="col-sm-2 control-label">Timelap</label>
        <div class="col-sm-10">
            <input id="timelap" name="timelap" class="form-control" type="text" ng-model="search.timelap" placeholder="Enter the Lap Timelap"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="beacon" class="col-sm-2 control-label">Beacon</label>
        <div class="col-sm-10">
            <input id="beacon" name="beacon" class="form-control" type="text" ng-model="search.beacon" placeholder="Enter the Lap Beacon"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Timelap</th>
                    <th>Beacon</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Laps/edit/{{result.id}}">{{result.timelap}}</a></td>
                    <td><a href="#/Laps/edit/{{result.id}}">{{result.beacon}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>