<header ng-switch on="$location.path().indexOf('/LapTimes/new') > -1">
    <h3 ng-switch-when="true">Create a new LapTime</h3>
    <h3 ng-switch-when="false">View or edit LapTime</h3>
</header>
<form id="LapTimeForm" name="LapTimeForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': LapTimeForm.pilot.$invalid}">
        <label for="pilot" class="col-sm-2 control-label">Pilot</label>
        <div id="pilotControls" class="col-sm-10">
        <select id="pilot" name="pilot" class="form-control" ng-model="pilotSelection" ng-options="p.text for p in pilotSelectionList"  >
            <option value="">Choose a Pilot</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LapTimeForm.startDate.$invalid}">
        <label for="startDate" class="col-sm-2 control-label">Start Date</label>
        <div id="startDateControls" class="col-sm-10">
            <input id="startDate" name="startDate" type="text" class="form-control" ng-model="lapTime.startDate" placeholder="Enter the LapTime Start Date"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LapTimeForm.event.$invalid}">
        <label for="event" class="col-sm-2 control-label">Event</label>
        <div id="eventControls" class="col-sm-10">
        <select id="event" name="event" class="form-control" ng-model="eventSelection" ng-options="e.text for e in eventSelectionList"  >
            <option value="">Choose a Event</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LapTimeForm.endDate.$invalid}">
        <label for="endDate" class="col-sm-2 control-label">End Date</label>
        <div id="endDateControls" class="col-sm-10">
            <input id="endDate" name="endDate" type="text" class="form-control" ng-model="lapTime.endDate" placeholder="Enter the LapTime End Date"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LapTimeForm.intermediates.$invalid}">
        <label for="intermediates" class="col-sm-2 control-label">Intermediates</label>
        <div id="intermediatesControls" class="col-sm-10">
            <select id="intermediates" name="intermediates" multiple class="form-control" ng-model="intermediatesSelection" ng-options="i.text for i in intermediatesSelectionList">
                <option value="">Choose a Intermediates</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveLapTime" name="saveLapTime" class="btn btn-primary" ng-disabled="isClean() || LapTimeForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteLapTime" name="deleteLapTime" class="btn btn-danger" ng-show="lapTime.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>