<div>
    <h3>Search for Chronos Results</h3>
    <form id="LapTimeSearch" class="form-horizontal">

        <div class="form-group" ng-class="{'has-error': LapTimeSearch.searchType.$invalid}">
            <label for="searchType" class="col-sm-2 control-label">Search Type</label>
            <div id="searchTypeControls" class="col-sm-10">
                <select id="searchType" name="searchType" class="form-control" ng-model="searchTypeSelection" ng-options="s.text for s in searchesTypesList">
                    <option value="">Choose a Search Type</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeSearch.session.$invalid}">
            <label for="session" class="col-sm-2 control-label">Session</label>
            <div id="sessionControls" class="col-sm-10">
                <select id="session" name="session" class="form-control" ng-model="sessionSelection" ng-options="s.text for s in sessionSelectionList">
                    <option value="">Choose a Session</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeSearch.location.$invalid}">
            <label for="location" class="col-sm-2 control-label">Location</label>
            <div id="locationControls" class="col-sm-10">
                <select id="location" name="location" class="form-control" ng-model="locationSelection" ng-options="l.text for l in locationSelectionList">
                    <option value="">Choose a Location</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeSearch.event.$invalid}">
            <label for="event" class="col-sm-2 control-label">Event</label>
            <div id="eventControls" class="col-sm-10">
                <select id="event" name="event" class="form-control" ng-model="eventSelection" ng-options="e.text for e in eventSelectionList">
                    <option value="">Choose a Event</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeSearch.pilot.$invalid}">
            <label for="pilot" class="col-sm-2 control-label">Associated Pilot</label>
            <div id="pilotControls" class="col-sm-10">
                <select id="pilot" name="pilot" class="form-control" ng-model="pilotSelection" ng-options="p.text for p in pilotSelectionList">
                    <option value="">Choose a Pilot</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeSearch.category.$invalid}">
            <label for="category" class="col-sm-2 control-label">Category</label>
            <div id="categoryControls" class="col-sm-10">
                <select id="category" name="category" class="form-control" ng-model="categorySelection" ng-options="c.text for c in categorySelectionList">
                    <option value="">Choose a Category</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()">
                    <span class="glyphicon glyphicon-search"></span> Search</a>
                <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove-sign"></span> Reset</button>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix text-nowrap">
            <thead>
                <tr ng-switch on="searchTypeSelection.key == ''">
                    <th>#</th>
                    <th ng-switch-when="true">Start Date</th>
                    <th ng-switch-when="true">End Date</th>
                    <th>Pilot</th>
                    <th>Lap</th>
                    <th>Laptime</th>
                    <th ng-switch-when="false">∆ Best</th>
                    <th ng-switch-when="false">∆ Previous</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize" ng-switch on="searchTypeSelection.key == ''">
                    <td>{{$index + 1}}</td>
                    <td ng-switch-when="true">{{result.startDate | date : 'HH:mm:ss.sss' : 'UTC' }}</td>
                    <td ng-switch-when="true">{{result.endDate | date : 'HH:mm:ss.sss' : 'UTC'}}</td>
                    <td>{{result.pilot.firstName}} {{result.pilot.lastName}}</td>
                    <td>{{result.lapIndex}} / {{result.lapNumber}}</td>
                    <td>{{result.duration | date : 'm:ss.sss' : 'UTC'}}</td>
                    <td ng-switch-when="false">{{result.gapWithBest | date : 'm:ss.sss' : 'UTC'}}</td>
                    <td ng-switch-when="false">{{result.gapWithPrevious | date : 'm:ss.sss' : 'UTC'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>