<div>
    <form id="LapTimeStart" class="form-horizontal">

        <h3>Ping by Pilot</h3>

        <div class="form-group" ng-class="{'has-error': LapTimeStart.category.$invalid}">
            <label for="category" class="col-sm-2 control-label">Category</label>
            <div id="categoryControls" class="col-sm-10">
                <select id="category" name="category" class="form-control" ng-model="categorySelection" ng-options="c.text for c in categorySelectionList">
                    <option value="">Choose a Category</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeStart.chrono.$invalid}">
            <label for="chrono" class="col-sm-2 control-label">Chrono</label>
            <div id="chronoControls" class="col-sm-10">
                <select id="chrono" name="chrono" class="form-control" ng-model="chronoSelection" ng-options="c.text for c in chronoSelectionList">
                    <option value="">Choose a Chrono</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeStart.pilot.$invalid}">
            <label for="pilot" class="col-sm-2 control-label">Pilot</label>
            <div id="pilotControls" class="col-sm-10">
                <select id="pilot" name="pilot" class="form-control" ng-model="pilotSelection" ng-options="p.text for p in pilotSelectionList">
                    <option value="">Choose a Pilot</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Start" name="Start" class="btn btn-danger" ng-click="startLapTime()">
                    <span class="glyphicon glyphicon-ok-sign"></span> Ping</a>
                <button id="cancelLaptime" name="cancelLaptime" class="btn btn-default" ng-click="cancelLaptime()">
                    <span class="glyphicon glyphicon-remove-sign"></span> Reset</button>
            </div>
        </div>

    </form>

    <form id="LapTimeStartManual" class="form-horizontal" ng-controller="StartLapTimeController" ng-submit="startLapTimeManual()">
        <h3>Ping by Beacon</h3>

        <div class="form-group" ng-class="{'has-error': LapTimeStartManual.ping.date.$invalid}">
            <label for="ping" class="col-sm-2 control-label">Date</label>

            <div id="pingControls" class="col-sm-10">
                <div class='input-group date' id='ping'>
                    <input type='text' id="ping" name="ping" required ng-model="ping.date" class="form-control" placeholder="Now or Enter the Ping date (2019-10-23T12:13:14.567)" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span class="help-block error" ng-show="LapTimeStartManual.ping.date.$error.required">required</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeStartManual.chrono.$invalid}">
            <label for="chrono" class="col-sm-2 control-label">Chrono</label>
            <div id="chronoControls" class="col-sm-10">
                <select id="chrono" name="chrono" class="form-control" ng-model="chronoSelection" ng-options="c.text for c in chronoSelectionList">
                    <option value="">Choose a Chrono</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': LapTimeStartManual.number.$invalid}">
            <label for="number" class="col-sm-2 control-label">Beacon number</label>
            <div id="numberControls" class="col-sm-10">
                <input id="number" name="number" type="number" required class="form-control" ng-model="beacon.number" placeholder="Enter the Beacon Number"></input>
                <span class="help-block error" ng-show="LapTimeStartManual.number.$error.required">required</span>
                <span class="help-block error" ng-show="LapTimeStartManual.number.$error.number">not a number</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <button type="submit" id="ping" name="ping" class="btn btn-danger" ng-disabled="beaconNumber.$invalid" ng-click="startLapTimeManual()">
                    <span class="glyphicon glyphicon-ok-sign"></span> Ping</button>
                <button id="cancelLaptime" name="cancelLaptime" class="btn btn-default" ng-click="cancelLaptime()">
                    <span class="glyphicon glyphicon-remove-sign"></span> Reset</button>
            </div>
        </div>

</div>