<header ng-switch on="$location.path().indexOf('/Inventories/new') > -1">
    <h3 ng-switch-when="true">Create a new Inventory</h3>
    <h3 ng-switch-when="false">View or edit Inventory</h3>
</header>
<form id="InventoryForm" name="InventoryForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': InventoryForm.timenow.$invalid}">
        <label for="timenow" class="col-sm-2 control-label">Timenow</label>
        <div id="timenowControls" class="col-sm-10">
            <input id="timenow" name="timenow" type="number" required class="form-control" ng-model="inventory.timenow" placeholder="Enter the Inventory Timenow"></input>
            <span class="help-block error" ng-show="InventoryForm.timenow.$error.required">required</span> 
            <span class="help-block error" ng-show="InventoryForm.timenow.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': InventoryForm.uuid.$invalid}">
        <label for="uuid" class="col-sm-2 control-label">Uuid</label>
        <div id="uuidControls" class="col-sm-10">
            <input id="uuid" name="uuid" type="text" required class="form-control" ng-model="inventory.uuid" placeholder="Enter the Inventory Uuid"></input>
            <span class="help-block error" ng-show="InventoryForm.uuid.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': InventoryForm.major.$invalid}">
        <label for="major" class="col-sm-2 control-label">Major</label>
        <div id="majorControls" class="col-sm-10">
            <input id="major" name="major" type="number" required class="form-control" ng-model="inventory.major" placeholder="Enter the Inventory Major"></input>
            <span class="help-block error" ng-show="InventoryForm.major.$error.required">required</span> 
            <span class="help-block error" ng-show="InventoryForm.major.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': InventoryForm.minor.$invalid}">
        <label for="minor" class="col-sm-2 control-label">Minor</label>
        <div id="minorControls" class="col-sm-10">
            <input id="minor" name="minor" type="number" required class="form-control" ng-model="inventory.minor" placeholder="Enter the Inventory Minor"></input>
            <span class="help-block error" ng-show="InventoryForm.minor.$error.required">required</span> 
            <span class="help-block error" ng-show="InventoryForm.minor.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': InventoryForm.power.$invalid}">
        <label for="power" class="col-sm-2 control-label">Power</label>
        <div id="powerControls" class="col-sm-10">
            <input id="power" name="power" type="number" required class="form-control" ng-model="inventory.power" placeholder="Enter the Inventory Power"></input>
            <span class="help-block error" ng-show="InventoryForm.power.$error.required">required</span> 
            <span class="help-block error" ng-show="InventoryForm.power.$error.number">not a number</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveInventory" name="saveInventory" class="btn btn-primary" ng-disabled="isClean() || InventoryForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteInventory" name="deleteInventory" class="btn btn-danger" ng-show="inventory.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>